<div class="author_card">
  <img class="avatar" src="http://{{ site.asset_hostname }}{{ site.path_to_author_images }}{{ author.avatar_image_filename }}">
  <div class="author_metadata">
    <span class="name">
      {{ author.display_name }}
    </span>
    <div class="accounts">
      <a href="http://twitter.com/{{ author.twitter }}" target="_blank">
        <img class="icon" src="/assets/images/icon_twitter.svg" alt="Link to author's Twitter account.">
      </a>
      <a href="https://github.com/{{ author.github }}" target="_blank">
        <img class="icon" src="/assets/images/icon_github.svg" alt="Link to author's GitHub account.">
      </a>
      <a href="mailto:jason@multi-discipline.com">
        <img class="icon" src="/assets/images/icon_email.svg" alt="Link to author's email address.">
      </a>
    </div>
  </div>
</div>