<div class="footer">
  <div class="container">
    <ul class="nav_links">
      <li class="nav_link">
        <a href="/archives">Post Archives</a>
      </li>
      <li class="nav_link">
        <a href="/book_notes">Book Notes</a>
      </li>
      <li class="nav_link">
        <a href="/podcasts">Podcasts</a>
      </li>
      <li class="nav_link">
        <a href="/about">About</a>
      </li>
    </ul>
    
    <div class="form_wrapper">
      <!-- TinyLetter Subscribe Form -->
      <form id="tinyletter" action="https://tinyletter.com/multi-discipline" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/multi-discipline', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <h2>
          Multi-Discipline Email Dispatch
        </h2>
        <label for="tlemail">Email Address</label><br>
        <input type="email" name="email" id="tlemail" /><br>
        <input type="hidden" value="1" name="embed"/>
        <input type="submit" class="submit buttonified" value="Subscribe" />
        <p class="subtext">
          <a href="https://tinyletter.com/multi-discipline" target="_blank">
            Weekly links to interesting problems &amp; solutions.
          </a>
        </p>
      </form>
    </div>
  </div>
</div>