<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="masthead">
      <div class="container">
        <ul class="nav_links">
          <li class="nav_link">
            <a href="/archives">Post Archives</a>
          </li>
          <li class="nav_link">
            <a href="/book_notes">Book Notes</a>
          </li>
          <li class="nav_link">
            <a href="/about">About</a>
          </li>
        </ul>
        <h2 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <span class="subhead">{{ site.tagline }}</span>
        </h2>
      </div>
    </div>
    
    <div class="container content">
      

      <div class="page_content">

        {{ content }}
      
      </div>

      <div class="footer">
        <p>
          Copyright &copy; {{ site.time | date: '%Y' }} Jason M. Klug
        </p>
      </div>
    </div>

  </body>
</html>
