<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="masthead">
      <div class="container">
        <h2 class="masthead_title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <span class="subhead">{{ site.tagline }}</span>
        </h2>
        <ul class="nav_links">
          <li class="nav_link">
            <a href="/book_notes/">Book Notes</a>
          </li>
          <li class="nav_link">
            <a href="/podcasts/">Podcasts</a>
          </li>
          <li class="nav_link">
            <a href="/archive/">Archive</a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="container content">
      

      <div class="page_content">

        {{ content }}
      
      </div>
      
    </div>

    {% include footer.html %}

  </body>
</html>
